* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.navbar-on {
    background-color: rgb(5, 5, 5);

}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #052280;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(199, 50, 50);
    border-radius: 10px;
}

/* Aqui termina el navbar */


header {
    position: relative;
    background-image: url(/IMG/wallpaperbetter.com_1920x1080.jpg);
    height: auto;
    min-height: 790px;

}

.BknIninio {
    display: grid;
    place-items: center;
}

.botones {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.foto {
    height: 300px;
    height: 340px;
    border-radius: 100%;
}

header h1 {
    color: red;
    font-weight: bold;
}

header p {
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.download {
    width: 15em;
    height: 3em;
    background-color: #201F22;
    border-radius: 15px;
    color: white;

}

.download:hover {
    width: 15em;
    height: 3em;
    background-color: #000000;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-indent: -9990px;
    background-image: url(/IMG/download.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: all 0.3s ease-out;
}

.sound {
    width: 15em;
    height: 3em;
    background-color: #201F22;
    border-radius: 15px;
    color: white;

}

.sound:hover {
    width: 15em;
    height: 3em;
    background-color: #000000;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-image: url(/IMG/sound.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    transition: all 0.3s ease-out
}

/* Aqui cierra la columna principal */

section {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}

.bknhabilidades {
    background-color: rgb(0, 0, 0);
}

.row h1 {
    color: red;
    text-align: center;

}



.contenedoresHabilidad {

    margin-top: 40px;
    display: grid;
    justify-content: center;

}

.ColH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.contenedoresHabilidad h2 {
    color: white;

}

.waves {
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(/IMG/waves.png);
    background-size: cover;
    left: 0;
    bottom: 0;
}

/* Aqui Cierra el contenedor de Habilidades */

/* Aqui Inicia el contenedor de proyectos */

.bknProyectos {
    background-color: black;
    padding-bottom: 200px;
    display: grid;
    place-content: center;
}

.bknRow
{
    
}

.Tarjeta {
    width: 323px;
    height: 348px;
    background: #211E1E;
    margin-left: 20px;
    border-radius: 15px;
    margin-top: 40px;
    position: relative;
    margin-left: 100px;
}

.Tarjeta h2 
{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.Tarjeta p 
{
    text-align: center;
    font-size: 16px;
    color: white;
    
}

.fotoPag {

    width: 293px;
    height: 155px;
    margin-top: 10px;
}

.botones
{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom:10px;
}

.btnhub
{
    width: 130px;
height: 40px;
background-color: black;
border-radius: 5px;

}

.btnhub:hover
{
    width: 130px;
height: 40px;
background-color: rgb(41, 40, 40);
border-radius: 5px;

}

.btnenlace
{
    width: 119px;
    height: 40px;
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
    
}

.btnenlace:hover
{
    width: 119px;
    height: 40px;
    background-color: rgb(41, 40, 40);
    margin-left: 10px;
    border-radius: 5px;
    
}

.fotoi
{
    width: 25%;
}

a
{
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    
}









@media (max-width: 800px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .foto {
        width: 50%;
        height: 200px;
    }

    header h1 {
        text-align: center;
    }

    header p {
        text-align: center;
        width: 50%;
    }

    .bknProyectos {
        background-color: black;
        padding-bottom: 200px;
        display: grid;
        place-content: center;
    }

    .Tarjeta {
        width: 323px;
        height: 348px;
        background: #211E1E;
        margin-left: 20px;
        border-radius: 15px;
        margin-top: 40px;
        position: relative;
       margin-left: 28px;
    }

}