* {
    margin: 0;
    padding: 0;
 
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}


header {
    position: relative;
    background-image: url(/IMG/wallpaperbetter.com_1920x1080.jpg);
    height: auto;
    min-height: 790px;
}

.BknIninio {
    display: grid;
    place-items: center;
}

.botones {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.foto {
    height: 300px;
    height: 340px;
    border-radius: 100%;
}

header h1 {
    color: red;
    font-weight: bold;
}

header p {
    color: rgb(255, 255, 255);
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.download {
    width: 15em;
    height: 3em;
    background-color: #201F22;
    border-radius: 15px;
    color: white;

}

.download:hover {
    width: 15em;
    height: 3em;
    background-color: #000000;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-indent: -9990px;
    background-image: url(/IMG/download.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: all 0.3s ease-out;
}

.sound {
    width: 15em;
    height: 3em;
    background-color: #201F22;
    border-radius: 15px;
    color: white;

}

.sound:hover {
    width: 15em;
    height: 3em;
    background-color: #000000;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-image: url(/IMG/sound.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    transition: all 0.3s ease-out
}

/* Aqui cierra la columna principal */

.navbar-on {
    background-color: rgb(5, 5, 5);

}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #052280;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(199, 50, 50);
    border-radius: 10px;
}

/* Aqui termina el navbar */

section {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}

.bknhabilidades {
    background-color: rgb(0, 0, 0);
}

.row h1 {
    color: red;
    text-align: center;

}



.contenedoresHabilidad {

    margin-top: 40px;
    display: grid;
    justify-content: center;

}

.ColH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.contenedoresHabilidad h2 {
    color: white;

}

.waves {
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(/IMG/waves.png);
    background-size: cover;
    left: 0;
    bottom: 0;
}

/* Aqui Cierra el contenedor de Habilidades */

/* Aqui Inicia el contenedor de proyectos */

.bknProyectos {
    background-color: black;
    padding-bottom: 200px;
    display: grid;
    place-content: center;
}

.bknRow
{
    
}

.Tarjeta {
    width: 324px;
    height: 348px;
    background: #211E1E;
    margin-left: 20px;
    border-radius: 15px;
    margin-top: 40px;
    position: relative;
    margin-left: 80px;
}

.Tarjeta h2 
{
    text-align: center;
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.Tarjeta p 
{
    text-align: center;
    font-size: 16px;
    color: white;
    
}

.fotoPag {

    width: 293px;
    height: 155px;
    margin-top: 10px;
    
}

.fotoPag:hover {

    width: 293px;
    height: 155px;
    margin-top: 10px;
    transform: scale(1.5);
    transition: .3seg;
    
}

.apartadodebotones
{
    display: flex;
   position: absolute;
   bottom: 0;
}

.botoncodigoCode
{
   
    display: flex;
    align-items: center;
    background-color: black;
    width: 130px;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    
}

.botoncodigoCode:hover
{
    display: flex;
    align-items: center;
    background-color: rgb(63, 62, 62);
    width: 130px;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
    
}

.fotoi
{
width: 30%;
margin-left: 10px;
margin-bottom: 5px;
}

.botoncodigoCode a
{
    color: white;
    text-decoration: none;
}


.botoncodigoLink
{
    
    display: flex;
    align-items: center;
    background-color: black;
    width: 130px;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.botoncodigoLink:hover
{
    display: flex;
    align-items: center;
    background-color: rgb(63, 62, 62);
    width: 130px;
    border-radius: 15px;
    padding: 10px;
    margin-right: 5px;
    
}

.botoncodigoLink a
{
    color: white;
    text-decoration: none;
}


/* Aqui termina la columna de .bknProyectos */

/* Empieza la columna de contactos
 */


.BknContactos
{
    background-image: url(/IMG/fondoazulado.png);
    background-position: center;
    padding-bottom: 100px;
}

.BknContactos h1
{
    margin-top: 10px;   
}

.Formulario
{
    display: flex;
    margin-top: 30px;
}

.txtName
{
    background-color: #000000;
    height: 40px;
    width: 80%;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}

.txtEmail
{
    background-color: #000000;
    height: 40px;
    width: 80%;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}

.mensaje
{
    width: 80%;
    height: 200px;
    background-color: #000000;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 100px;
}

.button
{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: solid 3px blue;
    margin-left: 100px;

}

.button:hover
{
    color: white;
    
    height: 40px;
    border-radius: 20px;
    background-image: url(/IMG/material-symbols_send-sharp.png);
    background-color: rgb(3, 3, 3);
    border: solid 3px rgb(255, 0, 55);
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3seg ease-out;
    
}

.redescontenedor a 
{
    text-decoration: none;
}

.apartadoinfo
{
    position: relative;
}

.btnDescargar
{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 20px;
    border: 4px solid blue;
}

.btnDescargar:hover
{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    background-image: url(/IMG/download.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    border-radius: 20px;
    border: 4px solid blue;
}

.redes
{
    display: flex;
    margin-top: 40px;
    justify-content: left;
}

.redes h4 
{
    color: white;
    margin-left: 10px;
}

.h3decontactos
{
    color: white;
}

footer
{
    background-color: #000000;
    padding-bottom: 80px;
    padding-top: 40px;
    background-image: url(/IMG/depositphotos_322351890-stock-photo-black-wolf-with-a-black.jpg);
    background-repeat: no-repeat;
    background-position: right;
    
}

footer h5 
{
color: white;
font-size: 20px;
text-align: center;
margin-top:;
}

@media (max-width: 800px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .foto {
        width: 50%;
        height: 200px;
    }

    header h1 {
        text-align: center;
    }

    header p {
        text-align: center;
        width: 50%;
    }

    .bknProyectos {
        background-color: black;
        padding-bottom: 200px;
        display: grid;
        place-content: center;
    }

    .Tarjeta {
        width: 330px;
        height: 348px;
        background: #211E1E;
        margin-left: 20px;
        border-radius: 15px;
        margin-top: 40px;
        position: relative;
       margin-left: 28px;
    }

    .txtName
    {
        width: 95%;
       margin-left: 0;
    }

    .txtEmail
    {
        width: 95%;
        margin-left: 0;
    }

    .mensaje
    {
        width: 95%;
        margin-left: 0;
    }

    .button
    {
        width: 95%;
        margin-left: 0;
        margin-top: 10px;
    }

    .h3decontactos
    {
        margin-top: 10px;
    }

    .apartadoinfo
    {
        position: relative;
    }

    .btnDescargar
    {
        position: absolute;
        bottom: unset;
        margin-top: 10px;
    }

    footer h5
    {
        text-align: left;
        font-size: 10px;
        margin-top: 80px;
    }
    
}

